a,body{
    color:#ecf0f1
}
a,a:active,a:hover{
    text-decoration:underline
}
a,blockquote,body,div,figcaption,figure,footer,h1,h2,header,html,img,li,nav,p,section,span,ul{
    margin:0;
    padding:0;
    box-sizing:border-box;
    border:0;
    font:inherit;
    vertical-align:baseline;
    font-weight:400
}

body {
    height:100vh;
    line-height:25px;
    font-family:Helvetica,sans-serif;
    font-size:15px;
    background: #25aaba;
    background-image: linear-gradient(-45deg, #1abc9c, #16a085, #3498db, #2980b9);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align: center;
}
footer,header,section{
    display:block;
    margin:0 auto;
    padding:10px 25px;
    text-align:left;
    width:320px
}
header{
    padding-top:50px
}
li{
    padding-bottom: 5px;
    list-style:none
}
blockquote,q{
    quotes:"“" "”";
    font-style:italic;
    display:block;
    padding:10px 0
}
h1{
    font-size:24px
}
h1 small{
    font-size:15px
}
p{
    margin-bottom:.75em
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
 
.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: linear-gradient(90deg, #f39c12, #e67e22);
    transition: transform .5s ease-in-out;
    border-radius: 50%;
}
